body {
    background-color:rgb(32, 132, 136);
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

.page__main {
    padding: 50px 50px 50px;
}

.building__boiler-table {
position: absolute;
bottom: -100px;
right: -1100px;
}

table {
    font-weight: bold;
    width: 700px;
}

.table__сell {
    text-align: end;
}

.page__header {
    width: 100%;
    text-align: center;
    text-transform: uppercase;
}

.page__title {
    color: #2cff25;
    font-size: 24px;
}

.page__description {
    color: #ffffff;
    font-size: 14px;
    line-height: 18px;
    text-decoration: underline;
}

.building {
    position: relative;
    width: 450px;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
}

.building__station {
    position: relative;
    z-index: 3;
    margin-left: 20px;
    width: 250px;
    height: 150px;
    border: 15px solid transparent;
    border-image: url("../img/кладка4.png");
    border-image-slice: 11;
    border-image-repeat: round;
    border-bottom: 0px solid transparent;
}

.building__boiler {
    position: absolute;
    top: 205px;
    left: 20px;
    width: 430px;
    height: 200px;
    border: 1px solid black;
    border-radius: 20px;
    background: linear-gradient(90deg, rgba(80,80,80,1) 0%, rgba(255,255,255,1) 44%, rgba(144,144,144,1) 100%);
}

.building__label {
    width: 200px;
    position: absolute;
    right: 0;
    left: 0;
    top: 10px;
    bottom: 0;
    margin: auto;
    font-weight: bold;
}

.building__shluz-1 {
    position: absolute;
    z-index: 2;
    top: -60px;
    left: 40px;
    width: 60px;
    height: 60px;
    border: 1px solid black;
    border-bottom: transparent;
    background: linear-gradient(90deg, rgba(80,80,80,1) 0%, rgba(255,255,255,1) 56%, rgba(154,154,154,1) 100%);
}

.building__shluz-2 {
    position: absolute;
    top: -60px;
    left: 320px;
    width: 60px;
    height: 58px;
    border: 1px solid black;
    z-index: 0;
    background: linear-gradient(90deg, rgba(80,80,80,1) 0%, rgba(255,255,255,1) 56%, rgba(154,154,154,1) 100%);
}

.building__pipe {
    z-index: 0;
    position: absolute;
    top: -82px;
    left: 20px;
    width: 8px;
    height: 80px;
    background: linear-gradient(90deg, rgba(24,61,245,1) 0%, rgba(255,255,255,1) 25%, rgba(33,61,255,1) 100%);
}

.building__pipe:before {
    display: block;
    content: '';
    width: 700px;
    height: 8px;
    position: absolute;
    top: 0;
    left: 8px;
    background: linear-gradient(180deg, rgba(24,61,245,1) 0%, rgba(255,255,255,1) 25%, rgba(33,61,255,1) 100%);
}

.building__pipe::after {
    display: block;
    content: '';
    height: 600px;
    width: 8px;
    position: absolute;
    top: 0;
    right: -708px;
    background: linear-gradient(90deg, rgba(24,61,245,1) 0%, rgba(255,255,255,1) 25%, rgba(33,61,255,1) 100%);
}

.building__pipe-text {
    position: absolute;
    top: -8px;
    left: 280px;
    color: white;
    background-color:rgb(32, 132, 136);
}

.building__pipe-final {
    width: 200px;
    height: 8px;
    position: absolute;
    top: 593px;
    left: 708px;
    background: linear-gradient(180deg, rgba(24,61,245,1) 0%, rgba(255,255,255,1) 25%, rgba(33,61,255,1) 100%);
}

.building__pipe-2 {
    position: absolute;
    top: 50px;
    right: -200px;
    width: 200px;
    height: 8px;
    background: linear-gradient(180deg, rgba(24,61,245,1) 0%, rgba(255,255,255,1) 25%, rgba(33,61,255,1) 100%);
}

.building__pipe-2::after {
    display: block;
    content: '';
    height: 500px;
    width: 8px;
    position: absolute;
    top: 1px;
    right: 0px;
    background: linear-gradient(90deg, rgba(24,61,245,1) 0%, rgba(255,255,255,1) 25%, rgba(33,61,255,1) 100%);
}

.building__pipe-2:before {
    display: block;
    content: '';
    width: 350px;
    height: 8px;
    position: absolute;
    top: 500px;
    left: 193px;
    background: linear-gradient(180deg, rgba(24,61,245,1) 0%, rgba(255,255,255,1) 25%, rgba(33,61,255,1) 100%);
}

.building__pipe-2-text {
    position: absolute;
    top: -8px;
    left: 40px;
    color: white;
    background-color:rgb(32, 132, 136);
}

.building__arrow-right-left-1 {
    position: absolute;
    background-color:rgb(32, 132, 136);
    width: 40px;
    height: 24px;
    left: 20px;
    top: -8px;
}

.building__arrow-right-left-1::before {
    display: block;
    position: absolute;
    content: '';
    width: 0;
    height: 0;
    z-index: 4;
    top: -8px;
    right: 0px;
    border: 20px solid transparent;
    border-right-color: rgb(46, 46, 46);
    border-left-color: 0;
    transform: scaleY(0.6);
}

.building__arrow-right-left-1::after {
    display: block;
    content: '';
    position: absolute;
    z-index: 5;
    width: 0;
    height: 0;
    top: -8px;
    left: 0px;
    border: 20px solid transparent;
    border-left-color: rgb(187, 187, 187);
    border-right-color: 0;
    transform: scaleY(0.6);
}

.building__arrow-right-left-2 {
    position: absolute;
    background-color:rgb(32, 132, 136);
    width: 40px;
    height: 24px;
    left: 100px;
    top: -8px;
}

.building__arrow-right-left-2::before {
    display: block;
    position: absolute;
    content: '';
    width: 0;
    height: 0;
    z-index: 4;
    top: -8px;
    right: 0px;
    border: 20px solid transparent;
    border-right-color: rgb(187, 187, 187);
    border-left-color: 0;
    transform: scaleY(0.6);
}

.building__arrow-right-left-2::after {
    display: block;
    content: '';
    position: absolute;
    z-index: 5;
    width: 0;
    height: 0;
    top: -8px;
    left: 0px;
    border: 20px solid transparent;
    border-left-color: rgb(187, 187, 187);
    border-right-color: 0;
    transform: scaleY(0.6);
}

.building__arrow {
    position: absolute;
    top: -25px;
    width: 0;
    height: 0;
    border: 12px solid transparent;
    border-right-color: #0e00d1;
    border-left-color: 0;
    transform: scaleY(0.6);
}

.building__arrow::before {
    position: absolute;
    display: block;
    content: '';
    width: 30px;
    height: 4px;
    background-color: #0e00d1;
    top: 0;
    bottom: 0;
    margin: auto;
    left: 12px;
}

.building__arrow {
    animation: building__arrow 1s linear infinite;
}

@keyframes building__arrow {
    100% {
        left:10px;
        opacity: 0;
    }
    50% {
        left:30px;
        opacity: 1;
    }
    0% {
        left:50px;
        opacity: 0;
    }
}

.building__arrow-2 {
    position: absolute;
    left: 210px;
    width: 0;
    height: 0;
    border: 12px solid transparent;
    border-right-color: #0e00d1;
    border-left-color: 0;
    transform: rotate(90deg) scaleY(0.6);
    
}

.building__arrow-2::before {
    position: absolute;
    display: block;
    content: '';
    width: 30px;
    height: 4px;
    background-color: #0e00d1;
    top: 0;
    bottom: 0;
    margin: auto;
    left: 12px;
}

.building__arrow-2 {
    animation: building__arrow-2 1s linear infinite;
}

@keyframes building__arrow-2 {
    100% {
        top:40px;
        opacity: 0;
    }
    50% {
        top:60px;
        opacity: 1;
    }
    0% {
        top:80px;
        opacity: 0;
    }
}

.building__arrow-3 {
    position: absolute;
    top: -25px;
    width: 0;
    height: 0;
    border: 12px solid transparent;
    border-left-color: #0e00d1;
    border-right-color: 0;
    transform: scaleY(0.6);
}

.building__arrow-3::before {
    position: absolute;
    display: block;
    content: '';
    width: 30px;
    height: 4px;
    background-color: #0e00d1;
    top: 0;
    bottom: 0;
    margin: auto;
    right: 12px;
}

.building__arrow-3 {
    animation: building__arrow-3 1s linear infinite;
}

@keyframes building__arrow-3 {
    0% {
        left:510px;
        opacity: 0;
    }
    50% {
        left:530px;
        opacity: 1;
    }
    100% {
        left:550px;
        opacity: 0;
    }
}

.building__arrow-4 {
    position: absolute;
    left: 730px;
    width: 0;
    height: 0;
    border: 12px solid transparent;
    border-left-color: #0e00d1;
    border-right-color: 0;
    transform: rotate(90deg) scaleY(0.6);
    
}

.building__arrow-4::before {
    position: absolute;
    display: block;
    content: '';
    width: 30px;
    height: 4px;
    background-color: #0e00d1;
    top: 0;
    bottom: 0;
    margin: auto;
    right: 12px;
}

.building__arrow-4 {
    animation: building__arrow-4 1s linear infinite;
}

@keyframes building__arrow-4 {
    0% {
        top:240px;
        opacity: 0;
    }
    50% {
        top:260px;
        opacity: 1;
    }
    100% {
        top:280px;
        opacity: 0;
    }
}

.window {
    position: absolute;
    top: 40px;
    left: 20px;
    background-color: rgb(0, 25, 153);
    width: 200px;
    height: 140px;
    border-radius: 4px;
    border: 1px solid black;
}

.window__label {
    position: absolute;
    top: 20px;
    right: 30px;
    font-size: 16px;
    font-weight: bold;
    color: white;
}

.motor {
    margin-left: 30px;
    position: relative;
    width: 50px;
    height: 75px;
}

.motor__label {
    position: absolute;
    right: 0px;
    top: 0;
    font-weight: bold;
    color: yellow;
}

.motor__circle {
    position: absolute;
    bottom: 0;
    right: 0;
    width: 50px;
    height: 50px;
    border-radius: 50%;
    background-color: rgb(196, 196, 196);
    border: 1px solid black;
}

.motor__circle::before {
    position: absolute;
    top: 0;
    right: 0;
    left: 0;
    bottom: 0;
    margin: auto;
    display: block;
    content: '';
    width: 32px;
    height: 32px;
    border: 1px solid black;
    border-radius: 50%;
    background: radial-gradient(circle, rgba(255,255,255,1) 0%, rgba(147,147,147,1) 79%, rgba(130,130,130,1) 100%);
}

.motor__outbox {
    width: 30px;
    height: 50px;
    border: 1px solid black;
    background: linear-gradient(90deg, rgba(80,80,80,1) 0%, rgba(255,255,255,1) 44%, rgba(144,144,144,1) 100%);
}

.motor__outbox::before {
    display: block;
    content: '';
    position: absolute;
    top: 5px;
    left: 9px;
    width: 13px;
    height: 13px;
    border: 1px solid black;
    background-color: rgb(187, 187, 187);
}

.motor__indicator {
    position: absolute;
    left: -25px;
    display: flex;
    flex-direction: column;
}

.motor__indicator-checkbox {
    width: 18px;
    height: 18px;
    border: 1px solid black;
    margin-bottom: 2px;
    line-height: 1;
    text-align: center;
    color: white;
}

.motor__indicator-checkbox--active {
    background-color: red;
}

.building__pipe-motor {
    top: -81px;
    left: 20px;
    width: 8px;
    height: 50px;
    margin-left: 43px;
    background: linear-gradient(90deg, rgba(24,61,245,1) 0%, rgba(255,255,255,1) 25%, rgba(33,61,255,1) 100%);
}

.level {
    position: absolute;
    top: 10px;
    right: 60px;
    width: 20px;
    height: 180px;
    border: 1px solid black;
}

.level__zero {
    position: absolute;
    bottom: -7px;
    left: 22px;
}

.level__hulf {
    position: absolute;
    left: 22px;
    top: 80px;
}

.level__full {
    position: absolute;
    top: 0;
    left: 22px;
}

.level__line {
    position: absolute;
    height: 4px;
    bottom: 0;
    right: 0;
    left: 0;
    background: red;
}

.level__arrow {
    position: absolute;
    left: -6px;
    bottom: -6px;
    width: 0;
    height: 0;
    border: 6px solid transparent;
    border-left-color: rgb(226, 23, 23);
    border-right-color: 0;
}

.l-label {
    position: absolute;
    top: 135px;
    right: 98px;
    width: 105px;
    /* height: 40px; */
}

.l-label__text {
    font-weight: bold;
    font-size: 24px;
    margin-right: 10px;
}

.l-label__wrapper {
    width: 85px;
    position: absolute;
    top: 0;
    right: 0;
    display: flex;
    flex-direction: column;
    border: 1px solid black;
    background-color: rgb(124, 124, 124);
}

.l-label__level {
    display: flex;
    border-bottom: 1px solid black;
}

.l-label__cube {
    width: 14px;
    height: 16px;
    font-size: 14px;
    font-weight: bold;
    line-height: 14px;
    text-align: center;
    padding: 1px;
    background-color: white;
    border: 1px solid black;
}

.l-label__testimony {
    height: 22px;
    color: #2cff25;
    font-weight: bold;
    font-size: 22px;
    line-height: 20px;
    text-align: center;
}

.p-label {
    top: 80px;
    right: 60px;
}

.p-label__text {
    color: white;
}

.p-label__text::before {
    display: block;
    content: '';
    position: absolute;
    top: 17px;
    left: -35px;
    height: 2px;
    width: 35px;
    background-color: black;
}

.p-label__wrapper {
    background: none;
    background: transparent;
}

.building__foundment {
    width: 450px;
    height: 30px;
    background: url("../img/кладка.png") repeat-x;
    background-size: contain;
    z-index: 1;
}

.arrow {
    position: absolute;
    top: -40px;
    width: 66px;
    height: 40px;
    margin: 20px;
}

.arrow span {
    position: absolute;
    top: 20px;
    width: 60px;
    height: 6px;
    background-color: #0e00d1;
    box-shadow: 0 3px 5px rgba(0, 0, 0, .2);
    left:0;
    display: block;
}

.arrow span::after {
    display: block;
    content: '';
    position: absolute;
    width: 20px;
    height: 6px;
    top: -6px;
    right: -8px;
    background-color: #0e00d1;
    transform: rotate(45deg);
}

.arrow span::before {
    display: block;
    content: '';
    position: absolute;
    width: 20px;
    height: 6px;
    top: 6px;
    right: -8px;
    background-color: #0e00d1;
    box-shadow: 0 3px 5px rgba(0, 0, 0, .2);
    transform: rotate(-45deg);
}

.arrow {
    animation: arrow 1s linear infinite;
}

@keyframes arrow {
    0% {
        left:190px;
        opacity: 0;
    }
    50% {
        left:200px;
        opacity: 1;
    }
    100% {
        left:210px;
        opacity: 0;
    }
}

.arrow-left {
    position: absolute;
    top: 440px;
    width: 66px;
    height: 40px;
    margin: 20px;
}

.arrow-left .left {
    position: absolute;
    top: 40px;
    width: 60px;
    height: 6px;
    background-color: #0e00d1;
    box-shadow: 0 3px 5px rgba(0, 0, 0, .2);
    left:0;
    display: block;
}

.arrow-left .left::after {
    display: block;
    content: '';
    position: absolute;
    width: 20px;
    height: 6px;
    top: -6px;
    left: -8px;
    background-color: #0e00d1;
    transform: rotate(135deg);
}

.arrow-left .left::before {
    display: block;
    content: '';
    position: absolute;
    width: 20px;
    height: 6px;
    top: 6px;
    left: -8px;
    background-color: #0e00d1;
    box-shadow: 0 3px 5px rgba(0, 0, 0, .2);
    transform: rotate(45deg);
}

.arrow-left {
    animation: arrow-left 1s linear infinite;
}

@keyframes arrow-left {
    100% {
        opacity: 0;
        left:540px;
    }
    50% {
        left:550px;
        opacity: 1;
    }
    0% {
        left:560px;
        opacity: 0;
    }
}

.arrow__text {
    position: absolute;
    top: -10px;
    left: 300px;
    display: block;
    color: white;
    font-size: 18px;
    font-weight: bold;
    min-width: 600px;
}

.arrow-left__text {
    position: absolute;
    top: 490px;
    left: 650px;
    display: block;
    color: white;
    font-size: 18px;
    font-weight: bold;
    min-width: 600px;
}